.hero {
    height: 100%;
    width: 100%;
    background-image: url('../public/banner3.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}
.noteslist {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px, 250px));
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.findButton {
    background-color: #e1e1e1;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin-right: 100px;
    cursor: pointer;
}

.find {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 40px 20px
}